/* body style */
body{
    background-color: #F1F1F3;
}

header{
    width: 1280px;
}


/* nav style */
nav{
    padding: 24px 160px;
    font-family: 'Fira Sans';
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .nav-title{
    font-size: 32;
    font-weight: bold;
}
nav button{
    padding: 15px 30px;
    color: #006A50;
    border-radius: 8px;
    color: #006A50;
    font-size: 18px;
    font-weight: 'Semi' bold;
    border: 1px solid ;
}

/* banner-modify */

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C6E4D6;
    padding: 80px 100px;
    border-radius: 24px;
}

.banner-title{
    width: 622px;
    height: 326px;
}
.banner h3{
    font-size: 24px;
    font-family: 'Fira Sans';
    color: rgba(14, 14, 14, 0.5);
}
.banner .banner-description{
    font-size: 56px;
    font-weight: bold;
    line-height: auto;
    color: #0E0E0E;
}
.banner .banner-btn{
    padding: 17px 34px;
    margin: 24px 0;
    border: none;
    outline: none;
    font-family: 'Fira Sans';
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 8px;
    background-color: #006A50;
}

/* card-text style */


.card-text .title{
    font-size: 40px;
    font-family: 'Fira Sans';
    font-weight: bold;
    line-height: auto;
    color: #0E0E0E;
}
.card-text .description{
    font-size: 16px;
    line-height: 24px;
    font-family: 'Fira Sans';
    color: rgba(14, 14, 14, 0.5);
}

/* card-box style  */

section{
    width: 1280px;
}

.card-box{
    margin: 32px 0;
    max-width: 1280px;
    min-height: 325px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box{
    min-width: 375px;
    max-height: 353px;
    margin-right: 24px;
    padding: 32px;
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
}
.box .box-icon{
    width: 64px;
}
.box .box-title{
    margin-top: 24px;
    font-size: 20px;
    font-family: 'Fira Sans';
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.box .box-description{
    font-size: 16px;
    font-family: 'Fira Sans';
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}
.box .box-btn{
    padding: 11px 20px;
    margin-top: 24px;
    color: #ffffff;
    border-radius: 8px;
    font-family: 'Fira Sans';
    font-size: 16px;
    font-weight: 600;
    border: none;
    outline: none;
}

/* bg-box style  */

.bg-box-tow{
    background-color: #C6E4D6;
}

.bg-box-three{
    background-color: #F7EBCF;
}

/* box-btn bg style  */

.bg-btn-one{
    background-color: #5490F5;
}

.bg-btn-tow{
    background-color: #09A15C;
}
.bg-btn-three{
    background-color: #FFC239;
}

/* card description style*/

.card-description{
    background-color: #ffffff;
    width: 1280px;
    padding: 24px 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}

.card-icon{
    width: 64px;
    position: absolute;
}

.card-text{
    font-family: 'Fira Sans';
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.8);
}

.quote-title{
    font-family: 'Fira Sans';
    font-size: 20px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.8);
}

.quote-description{
    font-size: 16px;
    font-family: 'Fira Sans';
    margin-top: -15px;
    color: rgba(14, 14, 14, 0.6);
}

/* news style  */

.news{
    margin-top: 80px;
}

.news-title{
    margin-top: 80px;
    font-size: 40px;
    font-family: 'Fira Sans';
    font-weight: 700;
    color:#0E0E0E;
}

.news-description{
    font-family: 'Fira Sans';
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}

.news-card{
    display: flex;
    align-items:last baseline;
    justify-content: space-around;
    gap: 32px;
    padding: 48px;
    background-color: #ffffff;
    border-radius: 24px;
    margin-bottom: 24px;
}

.news-img{
    border-radius: 24px;
}

.news-title{
    font-size: 32px;
    font-weight: 700;
    font-family: 'Fira Sans';
}

.news-subtitle{
    font-family: 'Fira Sans';
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);  
}

.news-name{
    width: 134px;
}

.news-text{
    text-align: start;
}

.news-date{
    font-family: 'Fira Sans';
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}

.news-date span{
    margin-left: 10px;
}

.news-btn{
    padding: 13px 26px;
    background-color: #006A50;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 8px;
    margin-top: 15px;
}

/* Donate Style  */

.donate{
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donate .donate-title{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Fira Sans';
    color: #0E0E0E;
}

.donate .donate-subtitle{
    text-align: center;
    font-size: 16px;
    font-family: 'Fira Sans';
    line-height: 24px;
    font-size: 'Fira Sans';
    color: rgba(14, 14, 14, 0.7);
}

.donate .donate-price{
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 32px;
}

.active{
    background-color: #C6E4D6;
}

.donate-price .price{
    padding: 0 40px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}

.price:hover{
    background-color: #C6E4D6;
}

.price-tag{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Fira Sans';
    color: rgba(14, 14, 14, 0.8);
}

.donate input{
    border: none;
    outline: none;
    font-size: 20px;
    text-align: center;
    font-family: 'Fira Sans';
    padding: 0 40px;
    width: 1032px;
    height: 64px;
    color: rgba(14, 14, 14, 0.30);
}

.donate .donate-btn{
    padding: 17px 34px;
    margin-top: 32px;
    background-color: #006A50;
    color: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 8px;
    font-family: 'Fira Sans';
    font-size: 18px;
    font-weight: 600;
}